{
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard"
  ],

  // Environments - which environments your script is designed to run in. Each environment brings with it a certain
  // set of predefined global variables.
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  // Globals - the additional global variables your script accesses during execution.
  "globals": {
    "shallow": true,
    "render": true,
    "mount": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react"],
  // Rules - which rules are enabled and at what error level.
  "rules": {
    "linebreak-style": 0,
    "class-methods-use-this": 0,
    "consistent-return": 0,
    "func-names": 0,
    "indent": [2, 2, { "SwitchCase": 1 }],
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "max-len": ["error", 120, 2, { "ignoreUrls": true }],
    "no-await-in-loop": 0,
    "no-bitwise": 0,
    "no-constant-condition": 0,
    "no-duplicate-imports": 0,
    "no-return-await": 0,
    "no-underscore-dangle": 0,
    "no-var": 0,
    "one-var": 0,
    "strict": [2, "global"],
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/alt-text": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-no-bind": [2, {}],
    "react/prefer-stateless-function": 0,
    "react/no-string-refs": 0,
    "react/no-unused-prop-types": 0,
    "react/sort-comp": 0,
    "react/require-default-props": 0
  }
}
